// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import "~font-awesome/scss/font-awesome";

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


// Form overwrites
.form-control:focus,
.is-invalid:focus {
	box-shadow: none;
	border-color: #c4c4c4;
}

// Custom forms
.with-floating-label {
	position: relative;

	label {
		position: absolute;
		top: 10px;
		padding: 0 3px;
		background: #fff;
		left: 0.75rem;
		margin: 0 0 0 -2px;
		font-size: inherit;
		line-height: 1;
		opacity: 0;
		@include transition(opacity .2s ease-in-out, top .3s ease-in-out);
	}

	input:not(:placeholder-shown) + label,
	textarea:not(:placeholder-shown) + label {
		top: -6px;
		font-size: 12px;
		opacity: 1;
	}
}


// More Button styles

.file-upload-btn {
	width: 350px;
	position: relative;

	&:focus {
		border-width: 0 !important;
		outline: none !important;
		box-shadow: none;
	}
	&::-webkit-file-upload-button {
		visibility: hidden;
	}
	&::before {
		content: 'Choose file';
		display: inline-block;
		background-color: #3490dc;
		border-color: #2176bd;
		border-radius: 3px;
		padding: 9px 12px 7px 32px;
		outline: none;
		white-space: nowrap;
		-webkit-user-select: none;
		cursor: pointer;
		color: #fff;
		font-size: 10pt;
	}
	&:hover {
		&::before {
			background: #227dc7;
		}
	}
	&:active {
		&::before {
			background: #227dc7;
		}
	}
	&::after {
		content: "\f093";
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-decoration: inherit;
		color: #fff;
		font-size: 16px;
		padding-right: 12px;
		position: absolute;
		top: 6px;
		left: 11px;
	}
}

// Avatar

.user-dropdown-trigger {
	line-height: 1;
}

.avatar-top {
	height: 34px;
    width: auto;
	padding: 1px;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.avatar-preview {
	max-width: 85px;
	float: right;
	margin-top: -25px;
	background: #f7f7f7;
}

.avatar-trash {
	transition: all .5s ease;
	position: absolute;
	right: 0;
	top: -25px;
	bottom: 0;
	width: 100%;
	max-width: 90px;
	border-radius: 50%;
	background: rgba(255, 255, 255, .2);
	visibility: visible;
	opacity: 0;
	font-size: 133%;

	&:hover {
		opacity: 1;
	}

	a {
		line-height: 1;
		text-shadow: 1px 1px rgba(1, 1, 1, .2);
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}

